body{
    background-color: var(--cor0);
    flex-direction: column;

}

body main{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor0);

}

.sec-1{
    height: 110vh;
    width: 100%;
    /* background-color: rgb(0, 174, 255); */
    display: flex;
    align-items:center;
    justify-content: flex-start;
}
.sec-1 .img-1{
    background-image: url(../Assets_Netuno/img/bannertopo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 110%;
    height: 110vh;
    margin-left: -10vw;
    margin-top: -5vh;

    /* FLEX */
}

.sec-1 .sombra{
    height: 82vh;
    width: 35%;
    /* POSIÇÂO */
    position: absolute;
    top: 25%;
    left: 50%;
    /* ORGANIZANDO DENTRO */
    display: flex;
    align-items: center;
    justify-content: center;

}

.sombra::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 5vh;
    border: 1vw solid transparent;
    background: linear-gradient(45deg, var(--cor3),transparent, transparent, var(--cor3)) border-box;
    -webkit-mask: linear-gradient(var(--cor3) 0 0), padding-box linear-gradient(var(--cor3) 0 0);
    mask-composite: exclude;
}

.sec-1 .sombra form{
    height: 96%;
    width: 96%;
    background-color: var(--cor3);
    border-radius: 5%;
}

.sec-1 span{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.sec-1 span img{
    position: absolute;
    height: 30%;
    width: 20%;
    top: 30%;
}



.sec-2{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-start;
}

.sec-2 .img-2{
    background-image: url(../Assets_Netuno/img/dev.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 85%;
    height: 70vh;
    margin-left: 25vw;
    margin-top: -50vh;
}

.sec-2 .titulo-sec2 {
   margin-top: -40vh;
   font-size: 6vh;
   font-weight: bold;
   color: var(--cor1);
   margin-left: 5vw;
}

.sec-2 .paragrafo-sec2 {
    width: 62%;
    height: 50vh;
    font-size: 2.4vh;
    color: var(--cor3); 
    margin-left: 5vw;
}

.sec-2 .formato-bold {
    margin-top: 3vh;
    font-weight: bold;
    font-size: 2.4vh;
}

.sec-3{
    height: 110vh;
    width: 100%;
    margin-top: -40vh;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    background-color: white;
}

.sec-3 .img-3{
    background-image: url(../Assets_Netuno/img/Container2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 90vh;
    margin-left: 25vw;
    margin-top: -15vh;
   
}

.sec-3 .titulo-sec3 {
    margin-top: -40vh;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor0), var(--cor1));
    font-size: 6vh;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
    
.sec-3 .subtitulo {
    font-size: 2.9vh;
    font-weight: bold;
    margin-top: 3vh;
}  

.sec-3 .texto3 {
    font-size: 2.3vh;
    margin-top: 3vh;
}  

.sec-3 .formato-bold {
    font-size: 2.3vh;
    font-weight: bold;
    margin-top: 3vh;
}    

.sec-3 .texto-sec3 {
    margin-top: 30%;
    width: 90%;
    height: 50vh;
    margin-right: 10vh;
} 

