body{
    background-color: var(--cor0);
    flex-direction: column;
}

body main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor0);
}

.sec-1{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-start;
}
.titulo{
    font-size: 40px!important;
}

.sec-1 .img-1{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    margin-left: -10vw;
}

.sec-1 .sombra{
    width: 400px;
    position: absolute;
    top: 25%;
    right: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

}
.sec-1 .sombra::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid transparent;
    background: linear-gradient(45deg,var(--cor3),transparent,transparent,var(--cor3))border-box;
    -webkit-mask: linear-gradient(var(--cor3) 0 0), padding-box linear-gradient(var(--cor3) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    opacity:0.6;
}
.sec-1 .sombra form{
    background-color: var(--cor3);
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    border-radius: 10px;
}
#form{
    z-index: 10;
}
form h2{
    font-size: 20px;
    color: #CECECE;
}
form h3{
    font-size: 14px;
    color: var(--cor0);
}
form .input{
    width: 350px;
    border-radius: 6px;
    border: 0.1px #CECECE solid;
    padding: 5px 0px 5px 15px;
    display:flex;
    align-items:center;
    justify-content: start;
    gap:10px;
}
.input-container input{
}
.input-container{
    display:flex;
    flex-direction:column;
    gap: 10px
}
.input img{
    height: 13px;
} 
.form-pt1{
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    gap:10px;
    padding: 30px 15px 30px 15px;
}
form .input input{
    width: 80%;
    border: none;
    outline: none;
}
form {
    width: 100%;
    color: rgb(8, 8, 8);
    background-color: var(--cor0);
}
form .form-pt2{
    padding: 15px 15px 30px 15px;
    background-color: var(--cor0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
}
form .form-pt2 h2{
    width: 100%;
    font-size: 14px;
    color: #ffffff;
}

form .form-pt2 .campo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-contain:center;
    gap:8px;

}
form .form-pt2 .campo label{
    display:flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: var(--cor3);
    min-width: 80px;
}
form .form-pt2 .campo label input{
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.1rem solid var(--cor3);
    border-radius: 5%;
    outline: none;
    cursor: pointer;
    border-radius: 0.2rem;
    background-color: var(--cor0);
}  
form .form-pt2 .campo label input:checked{
    background-color: var(--cor3);
}

form .form-pt3{
    padding: 20px 15px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form .form-pt3 div{
    height: 50%;
    width: 100%;
}

.form-pt3 .pt3-1 h2{
    font-size: 14px;
    color: var(--cor0);
}
.form-pt3 .pt3-1 div{
    display:flex;
    gap: 20px;
    margin-top: 10px;
}

.form-pt3 .pt3-1 label{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    font-size: 14px;
    color: #616161bd;
}

.form-pt3 .pt3-1 label input{
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.1rem solid var(--cor0);
    border-radius: 5%;
    outline: none;
    cursor: pointer;
    border-radius: 0.2rem;
    background-color: var(--cor3);
}  form .form-pt3 input:checked{
    background-color: var(--cor0);
}
.risco-form{
    height: 1px;
    width: 90%;
    margin-top: 30px;
    background-color: black;
    opacity: 0.2;
}
.form-pt3 .pt3-2{
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    color: var(--cor0);
}
.form-pt3 .pt3-2 .btn-form{
    background-color:var(--cor0);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    padding: 10px 0;
    font-size:18px;
    font-weight: 700;
    margin-top: 20px;
}
.form-pt3 .pt3-2 p,
.form-pt3 .pt3-2 p a{
    font-size:10px;
}
.form-pt3 .pt3-2 .dif{
    color: black;
    opacity: 0.5;
}

.form-pt3 .pt3-2 .dif a{
    color: var(--cor0);
}
.sec-1 > span{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: 0;
    top:24.8%;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.sec-1 span img{
    position: absolute;
    width: 19%;
    top: 33%;
}

.sec-2{
    width: 80%;
    padding: 3rem 0;
}

.sec-2 .container div{
    width: 45%;
}

.sec-2 .img-2 img{
    width:100%;
    background: rgb(84,177,234);
    background: radial-gradient(circle, rgba(84,177,234,1) 0%, rgba(255,255,255,0) 70%);
}
  
.sec-2 .texto-sec2{
    color: var(--cor3);
}

.sec-2 .texto-sec2 h2{
    font-size: 18px;
    color: var(--cor1);
}

.sec-2 .texto-sec2 p{
    font-size: 1rem;
    color: var(--cor3);
    padding: 0.4rem;
}

.sec-2 .texto-sec2 p strong{
    font-size: 1.rem;
}

.sec-3{
    padding: 3rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor3);
}

.sec-3 .sec-3-rool{
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.sec-3 .sec-3-rool > div{
    width: 45%;
}
.sec-3 .container{
    flex-direction:column;
    display:flex;
    gap: 10%;
}

.sec-3 img {
    width: 100%;
}

.sec-3 .titulo-sec3 h2{
    background-image: linear-gradient(to right, var(--cor0), transparent 94%);
    font-size: 40px;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
    
.sec-3 .subtitulo h2{
    font-size: 20px;
    font-weight: bold;
}  

.sec-3 .risco{
    background-color: rgb(0, 0, 0);
    height: 1px;
    width: 35%;
    margin-top: 1%;
    position: absolute;
    opacity: 0.2;

}

.sec-3 .texto3 h3{
    font-weight: 500;
    font-size: 2.3vh;
    margin-top: 4vh;
    
}  

.sec-3 .formato-bold {
    font-size: 2.3vh;
    font-weight: bold;
    margin-top: 3vh;
}    

.sec-3 .tilt h2{
    background-image: linear-gradient(to right, var(--cor0), transparent 170%);
    font-size: 6vh;
    margin-top: 70%;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec-3-j{
    padding:3rem 0;
    background-color: var(--cor3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jornada-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec-3-j .titulo h2{
    background-image: linear-gradient(to right, var(--cor0), transparent 100%);
    font-size: 40px;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.sec-3-j .bloco{
    width: 90%;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
}

.sec-3-j .btn{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: var(--cor2);
    display: flex;
    font-weight: 800;
    border-radius: 1rem;
}
.sec-3-j .btn strong{
    color: var(--cor0);
}
.sec-3-j > img{
    margin-top: 5%;
}

.cartao{
    width: 50%;
    height: 100px;
    margin: 1%;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: var(--cor0);
    justify-content: space-around;
}
.cartao div{
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    margin-left: 2%;
    border-radius: 1rem;
    margin-right: 1%;    
}

.jornada-3 > img {
    margin-top: 20px;
}
.btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    gap: 10px;
    padding:10px 20px 10px 20px;
    background-color: black;
    color: var(--cor3);
}

.btn button:hover{
    background-color: var(--cor1);
    color: black;
}

.cartao h3{
    color: #ffffff
}
.cartao div{
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 10px;
}
.cartao div img{
    width:80%;
}

.sec-3-j .bloco .bloco-1{
    display: flex;
    flex-direction: row;
}
.sec-3-j .bloco .bloco-2{
    display: flex;
    flex-direction: row;
}
.sec-3-j .bloco .bloco-3{
    display: flex;
    flex-direction: row;
}

.sec-4 {
    width: 100%;
    color: var(--cor3);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.sec-4 .img-r{
  position:absolute;
  right:0;
}
.sec-4 .img-l{
    position:absolute;
    left:0;
    z-index: 0;
}
.sec-4 .container{
 flex-direction: column;
 padding: 50px 0;
}
.sec-4 .square{
    min-height: 200px;
}
.sec-4 .square h3{
    font-size: 13px;
}

.sec-4 .objetivos {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}


