footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index:10;
    height: 45vh;
    background-color: black;
    width: 100%;
    color: var(--cor3);
}

footer .rodape{ 
   width: 30%;
   
}

footer .rodape ul{
    flex-direction: row;
    display: flex;
    margin-top: 5%;
    margin-left: -5%;
    list-style: none;
}


.ico{
    height: 40%;
}

footer .btn-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    height: 15%;
    width: 13%;
    margin-right: 10%;
    background-color: var(--cor3);
    
}

footer .btn-footer a{
    color: black;
}

footer .btn-footer:hover{
    background-color: var(--cor1);
    border: 0.3px solid black;
    color: black;
}

footer .contato{
    margin-left: 3%;
}

footer span{
    height: 50%;
    width: 1px;
    background-color: var(--cor3);
    margin-left: 2%;
}

footer .contato p{
    padding: 5%;
}

footer .menu{
   width: 8%;
}

footer .menu ul li{
    padding-top: 5%;
    padding-bottom: 5%;
}

footer .rodape ul li a{
    margin-left: 2vw;
    padding: 1%;
    
}

footer .btn-footer a{
    text-decoration: none;
    
}
