 @media screen and (max-width: 1000px) {

.sec-4 .img-r {
    position: absolute;
    right: 0;
    display: none;
}

.sec-4 .img-l {
    position: absolute;
    left: 0;
    z-index: 0;
    display: none;
}
} 