 @media screen and (max-width: 1000px) {

.sec-4 .img-r {
    display: none;
}

.sec-4 .img-l {
    display: none;
}

.sec-1 span img{
    display: none;
}

.sec-1 .img-1 {
    display: none;
}

.sec-1{
    padding: 50%;
    display: flex;
}


} 