@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #1A7FBD;
    --cor1: #A4DCFF;
    --cor2: #000;
    --cor3: #FFF;
}
*{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1vw;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.sec-3 .blco-card{
    margin-top: -10%;
    height: 30%;
    width: 80%;
    display: flex;
}

.card{
    height: 80%;
    width: 30%;
    margin: 2%;
    box-shadow: 1%, 1%, 1% 1% black;
    background-color: var(--cor3);
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    text-align: center;
}

.card h2{
    font-size: 1.6vw;
}

.card h3{
    padding: 5%;
    font-size: 1.2vw;
    font-weight: 500;
}

.card:hover{
    height: 82%;
}

.sec-4 .bloco-square{
    height: 50%;
    display: flex;
    width: 80%;
    margin: auto;

}

.square{
    height: 80%;
    width: 30%;
    margin: 2%;
    box-shadow: 1%, 1%, 1% 1% black;
    background-color: var(--cor3);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 1px  10px 12px rgba(0, 0, 0, 0.236);
}

.square h2{
    font-size: 1.6vw;
    color: black;
}

.square h3{
    padding: 5%;
    font-size: 1.2vw;
    font-weight: 500;
    color: black;
}

.square:hover{
    height: 82%;
}
  



